<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink=""> <i class="fa-brands fa-slack fa-spin me-2 ms-3"></i><Span>Global Mart</Span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        
        <div class="ms-auto navbar-nav">
            <div class="d-flex">
                <a class="nav-link" ><button class="btn btn-outline-dark"><i class="fa-solid fa-heart fa-beat me-2"></i>Wishlist</button></a>
                
                <a class="nav-link" ><button class="btn btn-outline-dark"><i class="fa-solid fa-cart-shopping fa-beat me-2"></i>Cart</button></a>

                <a class="nav-link" ><button class="btn btn-outline-dark">Login</button></a>
              


            </div>
        </div>
       
       
    </div>
      </div>
   
  </nav>